.chart-pie{
    -fx-border-color: none;
    -fx-border-width: 3px;
}

    //NOT WORKING -> as pie chart color are initiated from within java code
    .data0.chart-pie { -fx-pie-color: YELLOW; }
    .data1.chart-pie { -fx-pie-color: none; }

#usernameLabel{
    -fx-background-color: none;
}

#settingsPane > .slider {
-fx-control-inner-background: YELLOW;
}

    //NOT WORKING
    #addCaloriesLabel: hover{
        -fx-background-color: YELLOW;
}

